{% extends 'shop/basic.html' %}


{% block title %} Checkout {% endblock %}
{% block body %} 
<div class="container">
	<div class="col my-4">
		<h2>  My Awesome Cart Tracker - Enter your order Id and Email Address to track your order</h2>

	<form class="row g-3" method="post" action="#" id="trackerForm"> {% csrf_token %}
  	<div class="col-md-6">
    	<label for="inputorderid" class="form-label">Order Id</label>
    	<input type="text" class="form-control" id="orderId" name="orderId" placeholder="Enter Your Order ID">
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="example123@.com">
  </div>

  <div class="col-12 my-4">
    <button type="submit" class="btn btn-primary">Track Order</button>
  </div>
    
	</div>
	<div class="col my-4">
		<h2> Your Order status </h2>	
			<div>
		<ul class="list-group my-4" id="items">
		</ul>

		</div>
	
		
</div>





 {% endblock %}



 {% block js %}
<script>
$('#trackerForm').submit(function(event){

	$('#items').empty();
	var formData = {
		'orderId': $('input[name=orderId]').val(),
		'email' : $('input[name=email]').val(),
		'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()

	};
		$.ajax({
			type: 'POST',
			url: '/shop/tracker/',
			data: formData,
			encode: true

		})
		.done(function(data) {
				console.log(data)

				updates = JSON.parse(data);
				if (updates.length > 0 & updates != {}) {

				for (1 = 0; i < updates.length; i++) {

			    	let text = updates[i]['text'];
			    	let time = updates[i]['time'];
			      sum = sum+qty;
			    	mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
			    	    	${text}
			    	    		<span class="badge bg-primary rounded-pill">${time}</span>
			    	  		</li>`


			    	$('#items').append(mystr);
				}

	} else {
			mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
		    	    	Sorry
		    	  		</li>`
		    	  		$('#items').append(mystr);
		}  

		});
		event.preventDefault();

})
</script>	






  {% endblock %}